<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizScopeMapper">
    
    <resultMap type="BizScope" id="BizScopeResult">
        <result property="scopeId"    column="scope_id"    />
        <result property="scopeNo"    column="scope_no"    />
        <result property="scopeWorks"    column="scope_works"    />
        <result property="inCodMin"    column="in_COD_min"    />
        <result property="inCodMax"    column="in_COD_max"    />
        <result property="inTpMin"    column="in_TP_min"    />
        <result property="inTpMax"    column="in_TP_max"    />
        <result property="inTnMin"    column="in_TN_min"    />
        <result property="inNh3Min"    column="in_NH3_min"    />
        <result property="inNh3Max"    column="in_NH3_max"    />
        <result property="inTnMax"    column="in_TN_max"    />
        <result property="outCodMin"    column="out_COD_min"    />
        <result property="outCodMax"    column="out_COD_max"    />
        <result property="outTpMin"    column="out_TP_min"    />
        <result property="outTpMax"    column="out_TP_max"    />
        <result property="outTnMin"    column="out_TN_min"    />
        <result property="outNh3Min"    column="out_NH3_min"    />
        <result property="outNh3Max"    column="out_NH3_max"    />
        <result property="outTnMax"    column="out_TN_max"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>
	
	<sql id="selectBizScopeVo">
        select scope_id, scope_no, scope_works, in_COD_min, in_COD_max, in_TP_min, in_TP_max, in_TN_min, in_NH3_min, in_NH3_max, in_TN_max, out_COD_min, out_COD_max, out_TP_min, out_TP_max, out_TN_min, out_NH3_min, out_NH3_max, out_TN_max, create_time, create_by, update_time, update_by from biz_scope
    </sql>
	
    <select id="selectBizScopeList" parameterType="BizScope" resultMap="BizScopeResult">
        <include refid="selectBizScopeVo"/>
        <where>  
            <if test="scopeId != null "> and scope_id = #{scopeId}</if>
             <if test="scopeNo != null  and scopeNo != '' "> and scope_no = #{scopeNo}</if>
         </where>
    </select>
    
    <select id="selectBizScopeById" parameterType="Long" resultMap="BizScopeResult">
        <include refid="selectBizScopeVo"/>
        where scope_id = #{scopeId}
    </select>

    <select id="selectBizScopeByWorks" parameterType="Long" resultMap="BizScopeResult">
        <include refid="selectBizScopeVo"/>
        where scope_works = #{scopeWorks}
    </select>

    <insert id="insertBizScope" parameterType="BizScope" useGeneratedKeys="true" keyProperty="scopeId">
        insert into biz_scope
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="scopeNo != null  and scopeNo != ''  ">scope_no,</if>
            <if test="scopeWorks != null  and scopeWorks != ''  ">scope_works,</if>
			<if test="inCodMin != null  ">in_COD_min,</if>
			<if test="inCodMax != null  ">in_COD_max,</if>
			<if test="inTpMin != null  ">in_TP_min,</if>
			<if test="inTpMax != null  ">in_TP_max,</if>
			<if test="inTnMin != null  ">in_TN_min,</if>
			<if test="inNh3Min != null  ">in_NH3_min,</if>
			<if test="inNh3Max != null  ">in_NH3_max,</if>
			<if test="inTnMax != null  ">in_TN_max,</if>
			<if test="outCodMin != null  ">out_COD_min,</if>
			<if test="outCodMax != null  ">out_COD_max,</if>
			<if test="outTpMin != null  ">out_TP_min,</if>
			<if test="outTpMax != null  ">out_TP_max,</if>
			<if test="outTnMin != null  ">out_TN_min,</if>
			<if test="outNh3Min != null  ">out_NH3_min,</if>
			<if test="outNh3Max != null  ">out_NH3_max,</if>
			<if test="outTnMax != null  ">out_TN_max,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="scopeNo != null  and scopeNo != ''  ">#{scopeNo},</if>
            <if test="scopeWorks != null  and scopeWorks != ''  ">#{scopeWorks},</if>
			<if test="inCodMin != null  ">#{inCodMin},</if>
			<if test="inCodMax != null  ">#{inCodMax},</if>
			<if test="inTpMin != null  ">#{inTpMin},</if>
			<if test="inTpMax != null  ">#{inTpMax},</if>
			<if test="inTnMin != null  ">#{inTnMin},</if>
			<if test="inNh3Min != null  ">#{inNh3Min},</if>
			<if test="inNh3Max != null  ">#{inNh3Max},</if>
			<if test="inTnMax != null  ">#{inTnMax},</if>
			<if test="outCodMin != null  ">#{outCodMin},</if>
			<if test="outCodMax != null  ">#{outCodMax},</if>
			<if test="outTpMin != null  ">#{outTpMin},</if>
			<if test="outTpMax != null  ">#{outTpMax},</if>
			<if test="outTnMin != null  ">#{outTnMin},</if>
			<if test="outNh3Min != null  ">#{outNh3Min},</if>
			<if test="outNh3Max != null  ">#{outNh3Max},</if>
			<if test="outTnMax != null  ">#{outTnMax},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            getdate()
         </trim>
    </insert>
	 
    <update id="updateBizScope" parameterType="BizScope">
        update biz_scope
        <trim prefix="SET" suffixOverrides=",">
            <if test="scopeNo != null  and scopeNo != ''  ">scope_no = #{scopeNo},</if>
            <if test="scopeWorks != null  and scopeWorks != ''  ">scope_works = #{scopeWorks},</if>
            <if test="inCodMin != null  ">in_COD_min = #{inCodMin},</if>
            <if test="inCodMax != null  ">in_COD_max = #{inCodMax},</if>
            <if test="inTpMin != null  ">in_TP_min = #{inTpMin},</if>
            <if test="inTpMax != null  ">in_TP_max = #{inTpMax},</if>
            <if test="inTnMin != null  ">in_TN_min = #{inTnMin},</if>
            <if test="inNh3Min != null  ">in_NH3_min = #{inNh3Min},</if>
            <if test="inNh3Max != null  ">in_NH3_max = #{inNh3Max},</if>
            <if test="inTnMax != null  ">in_TN_max = #{inTnMax},</if>
            <if test="outCodMin != null  ">out_COD_min = #{outCodMin},</if>
            <if test="outCodMax != null  ">out_COD_max = #{outCodMax},</if>
            <if test="outTpMin != null  ">out_TP_min = #{outTpMin},</if>
            <if test="outTpMax != null  ">out_TP_max = #{outTpMax},</if>
            <if test="outTnMin != null  ">out_TN_min = #{outTnMin},</if>
            <if test="outNh3Min != null  ">out_NH3_min = #{outNh3Min},</if>
            <if test="outNh3Max != null  ">out_NH3_max = #{outNh3Max},</if>
            <if test="outTnMax != null  ">out_TN_max = #{outTnMax},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = getdate()
        </trim>
        where scope_id = #{scopeId}
    </update>

	<delete id="deleteBizScopeById" parameterType="Long">
        delete from biz_scope where scope_id = #{scopeId}
    </delete>
	
    <delete id="deleteBizScopeByIds" parameterType="String">
        delete from biz_scope where scope_id in 
        <foreach item="scopeId" collection="array" open="(" separator="," close=")">
            #{scopeId}
        </foreach>
    </delete>
    
</mapper>