<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('水厂药剂收发列表')" />
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            药剂名称：<input type="text" name="agentiaName"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:bizAgentiaWork:dist')}]];

    var prefix = ctx + "system/bizAgentia";

    $(function() {
        var options = {
            url: prefix + "/workMakelist",
            modalName: "药剂配制记录",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field : 'recordId',
                    title : '记录ID',
                    visible: false
                },
                {
                    field : 'bizAgentia.agentiaName',
                    title : '药剂名称',
                    sortable: true,
                    formatter: function(value, item, index) {
                        var agentiaName="";
                        if(item.bizAgentia!=null){
                            agentiaName = item.bizAgentia.agentiaName
                        }
                        return '<span class="label label-success">'+agentiaName+'</span>';
                    }
                },
                {
                    field : 'sendWork.worksName',
                    title : '下发机构',
                    sortable: true,
                    formatter: function(value, item, index) {
                        var worksname="";
                        if(item.sendWork!=null){
                            worksname = item.sendWork.worksName
                        }
                        return '<span class="label label-success">'+worksname+'</span>';
                    }
                },
                {
                    field : 'recDevice.deviceName',
                    title : '接收设备',
                    sortable: true,
                    formatter: function(value, item, index) {
                        var deviceName="";
                        if(item.recDevice!=null){
                            deviceName = item.recDevice.deviceName
                        }
                        return '<span class="label label-success">'+deviceName+'</span>';
                    }
                },
                {
                    field : 'sendTotal',
                    title : '下发剂量',
                    sortable: true
                },
                {
                    field : 'recAgentiaNo',
                    title : '配制药剂编号',
                    sortable: true
                },
                {
                    field : 'recAgentiaName',
                    title : '配制药剂名称',
                    sortable: true
                },
                {
                    field : 'recordDate',
                    title : '下发时间',
                    sortable: true
                },
                {
                    field : 'recordStatus',
                    title : '下发状态',
                    sortable: true,
                    formatter: function(value, item, index) {
                        var recordStatus=item.recordStatus;
                        if(recordStatus==0){
                            return '<span class="label label-primary">待接收</span>';
                        }else if(recordStatus==1){
                            return '<span class="label label-success">配制成功</span>';
                        }else if(recordStatus==2){
                            return '<span class="label label-danger">拒绝配制</span>';
                        }else if(recordStatus==3){
                            return '<span class="label label-warning">取消配制</span>';
                        }else{
                            return '';
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.recordStatus==0){

                            actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="#" onclick="cancelMake(\'' + row.recordId + '\')"><i class="fa fa-edit"></i>取消配制</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /*  取消配制 */
    function cancelMake(recordId) {
        $.ajax({
            cache : true,
            type : "POST",
            url : prefix + "/cancelWorkMake",
            data : {
                "recordId": recordId
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.modal.alertSuccess("取消配制成功");
                $.form.reset()
                $.table.search()
            }
        });
    }

</script>
</body>
</html>