<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改设备')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-bizDevice-edit" th:object="${bizDevice}">
		<input name="deviceWorks"  type="hidden"  th:field="*{deviceWorks}" id="treeId"/>
		<input id="deviceId" name="deviceId" th:field="*{deviceId}"  type="hidden">
		<div class="form-group">
			<label class="col-sm-3 control-label">设备编号：</label>
			<div class="col-sm-6">
				<input id="deviceNo" name="deviceNo" th:field="*{deviceNo}" class="form-control required" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">设备名称：</label>
			<div class="col-sm-6">
				<input id="deviceName" name="deviceName" th:field="*{deviceName}" class="form-control required" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">设备SN：</label>
			<div class="col-sm-6">
				<input id="deviceSn" name="deviceSn" th:field="*{deviceSn}" class="form-control required" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">设备型号：</label>
			<div class="col-sm-6">
				<input id="deviceModel" name="deviceModel" th:field="*{deviceModel}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">设备厂家：</label>
			<div class="col-sm-6">
				<input id="deviceMaker" name="deviceMaker" th:field="*{deviceMaker}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"><span style="color: red; ">*</span>所属水厂：</label>
			<div class="col-sm-6">
				<div class="input-group">
					<input name="worksName" onclick="selectWorkTree()" id="treeName" type="text" placeholder="请选择归属机构" class="form-control required" th:field="*{works.worksName}">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">维护人员：</label>
			<div class="col-sm-6">
				<input id="deviceMaintainer" name="deviceMaintainer" th:field="*{deviceMaintainer}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">维护人员电话：</label>
			<div class="col-sm-6">
				<input id="deviceTel" name="deviceTel" th:field="*{deviceTel}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">维护时间：</label>
			<div class="col-sm-6">
				<input type="text" class="time-input-all form-control" id="repairTime" placeholder="维护时间" name="repairTime" th:field="*{repairTime}" />
			</div>
		</div>

		<!--<div class="form-group">-->
			<!--<label class="col-sm-3 control-label">设备类型：</label>-->
			<!--<div class="col-sm-6">-->
				<!--<input id="deviceType" name="deviceType" th:field="*{deviceType}" class="form-control" type="text">-->
			<!--</div>-->
		<!--</div>-->
		<div class="form-group">
			<label class="col-sm-3 control-label">设备状态：</label>
			<div class="col-sm-6">
				<div class="onoffswitch">
					<input type="checkbox"  th:checked="${bizDevice.deviceStatus == '0' ? true : false}"  class="onoffswitch-checkbox" id="deviceStatus" >
					<label class="onoffswitch-label" for="deviceStatus">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>

	</form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/bizDevice";
    $("#form-bizDevice-edit").validate({
        rules:{
            xxxx:{
                required:true,
            },
        },
        focusCleanup: true
    });

    /*设备管理-修改-选择水厂树*/
    function selectWorkTree() {
        var worksId = $.common.isEmpty($("#treeId").val()) ? "100" : $("#treeId").val();
        var url = ctx + "system/user/selectWorksTree/" + worksId;
        var options = {
            title: '选择机构',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowParents(tree)) {
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
			}
    }

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-bizDevice-edit").serializeArray();
            var status = $("input[id='deviceStatus']").is(':checked') == true ? 0 : 1;
            data.push({"name": "deviceStatus", "value": status});
            $.operate.save(prefix + "/edit", data);
        }
    }
</script>
</body>
</html>
