<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('化验结果列表')" />
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<a class="btn btn-primary" onclick="Docx('cod')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-download"></i> 导出COD分析项目原始记录
	</a>
	<a class="btn btn-primary" onclick="Docx('tp')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-download"></i> 导出总磷分析项目原始记录
	</a>
	<a class="btn btn-primary" onclick="Docx('tn')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-download"></i> 导出总氮分析项目原始记录
	</a>
	<a class="btn btn-primary" onclick="Docx('nh')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-download"></i> 导出氨氮分析项目原始记录
	</a>
	<a class="btn btn-primary" onclick="Docx('sample')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-download"></i> 导出样品接收单
	</a>
</div>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">

	<br>

	<a class="btn btn-success" onclick="look('cod')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-edit"></i> COD原始记录
	</a>
	<a class="btn btn-success" onclick="look('tp')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-edit"></i> 总磷原始记录
	</a>
	<a class="btn btn-success" onclick="look('tn')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-edit"></i> 总氮原始记录
	</a>
	<a class="btn btn-success" onclick="look('nh')" shiro:hasPermission="system:bizAssay:export">
		<i class="fa fa-edit"></i> 氨氮原始记录
	</a>

	<br>
</div>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">

	<div id="cod_div">
		<table id="0-table" data-mobile-responsive="true" class="table table-hover">
			<thead><tr>
				<th style="" tabindex="0"><div class="th-inner sortable both">编号：[[${assayNo}]]</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both">日期：[[${assayDate}]]</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both">检测地点：[[${worksName}]]</div><div class="fht-cell"></div></th>
			</tr></thead>
		</table>

		<form  th:object="${bizAssayMethod}">
		<table id="1-table" data-mobile-responsive="true" class="table table-hover">
			<thead><tr>
				<th style="" tabindex="0"><div class="th-inner sortable both">方法依据</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both" id="methodname">[[${bizAssayMethod?.codName}]]</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both" id="wave1">测定波长[[${bizAssayMethod?.codWave1}]]nm（高量程）</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0" id="th_wave2"><div class="th-inner sortable both" id="wave2">测定波长[[${bizAssayMethod?.codWave2}]]nm（低量程）</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both">光程[[${bizAssayMethod?.codOptical}]]mm</div><div class="fht-cell"></div></th>
			</tr></thead>
		</table>
		</form>

		<form  th:object="${CODparameter}">
			<table id="3-table" data-mobile-responsive="true" class="table">
				<thead><tr>
					<th style="" tabindex="0"><div class="th-inner sortable both">序号</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">1</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">2</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">3</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">4</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">5</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">6</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">7</div><div class="fht-cell"></div></th>
				</tr></thead>
				<tbody>
				<tr data-index="0">
					<td style="">质量（ug）</td><td id="CurveCon1">[[${CODparameter?.CurveCon1}]]</td><td id="CurveCon2">[[${CODparameter?.CurveCon2}]]</td><td id="CurveCon3">[[${CODparameter?.CurveCon3}]]</td><td id="CurveCon4">[[${CODparameter?.CurveCon4}]]</td><td id="CurveCon5">[[${CODparameter?.CurveCon5}]]</td><td id="CurveCon6">[[${CODparameter?.CurveCon6}]]</td><td id="CurveCon7">[[${CODparameter?.CurveCon7}]]</td>
				</tr>
				<tr data-index="0">
					<td style="">吸光度</td><td id="curveAbs1">[[${CODparameter?.curveAbs1}]]</td><td id="curveAbs2">[[${CODparameter?.curveAbs2}]]</td><td id="curveAbs3">[[${CODparameter?.curveAbs3}]]</td><td id="curveAbs4">[[${CODparameter?.curveAbs4}]]</td><td id="curveAbs5">[[${CODparameter?.curveAbs5}]]</td><td id="curveAbs6">[[${CODparameter?.curveAbs6}]]</td><td id="curveAbs7">[[${CODparameter?.curveAbs7}]]</td>
				</tr>
				</tbody>
			</table>
		</form>

		<form  th:object="${CODparameter}">
		<table id="4-table" data-mobile-responsive="true" class="table">
			<thead><tr>
				<th style="" tabindex="0"><div class="th-inner sortable both">校准曲线Y=bX+a</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both">b=[[${CODparameter?.curveK0}]]</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both">a=[[${CODparameter?.curveK1}]]</div><div class="fht-cell"></div></th>
				<th style="" tabindex="0"><div class="th-inner sortable both">r=[[${CODparameter?.curveR}]]</div><div class="fht-cell"></div></th>
			</tr></thead>
		</table>
		</form>

			<table id="5-table" data-mobile-responsive="true" class="table">
				<thead><tr>
					<th style="" tabindex="0"><div class="th-inner sortable both">序号</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">样品名称</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">取样体积v（mL)</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">吸光度(As-Ab)</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">测定结果(mg/L)</div><div class="fht-cell"></div></th>
					<th style="" tabindex="0"><div class="th-inner sortable both">报出结果(mg/L)</div><div class="fht-cell"></div></th>
				</tr></thead>
				<tbody>
				<tr data-index="0">
					<td style="">1</td><td style="">空白</td><td >1</td><td >0.000</td><td >-</td><td >-</td>
				</tr>
				<tr data-index="0">
					<td style="">2</td><td style="">标准物质</td><td >1</td><td id="sta_abs">0.000</td><td  id="sta_value">-</td><td  id="sta_valueR">-</td>
				</tr>
				<tr data-index="0">
					<td style="">3</td><td style="">[[${Sname}]]进水</td><td >1</td><td id="inabs">[[${inCod_As}]]</td><td id="invalue">[[${inCod}]]</td><td id="invalueR">[[${inCod}]]</td>
				</tr>
				<tr data-index="0">
					<td style="">4</td><td style="">[[${Sname}]]出水</td><td >2</td><td id="outabs1">[[${outCod_As}]]</td><td id="outvalue">[[${outCod}]]</td><td id="outvalueR">[[${outCod}]]</td>
				</tr>
				<tr data-index="0">
					<td style=""> </td><td style=""> </td><td >—</td><td>—</td><td>—</td><td>—</td>
				</tr>
				</tbody>
			</table>
	</div>

</div>

    <div th:include="include :: footer"></div>

	 <script th:src="@{/water/view02/js/echarts-all.js}"></script>

    <script th:inline="javascript">
        var prefix = ctx + "system/bizAssay";

        var assayNo = [[${assayNo}]];

        function Docx(obj){
            window.location.href = prefix + "/getDoc/"+assayNo+"/"+obj;
        }

        //初始化页面数据
        $(function() {
            $("#methodname").html([[${bizAssayMethod?.codName}]]);
            $("#th_wave2").css('display','');
            $("#wave1").html('测定波长'+[[${bizAssayMethod?.codWave1}]]+'nm（高量程）');
            $("#wave2").html('测定波长'+[[${bizAssayMethod?.codWave2}]]+'nm（低量程）');


            $("#CurveCon1").html([[${CODparameter?.CurveCon1}]]);
            $("#CurveCon2").html([[${CODparameter?.CurveCon2}]]);
            $("#CurveCon3").html([[${CODparameter?.CurveCon3}]]);
            $("#CurveCon4").html([[${CODparameter?.CurveCon4}]]);
            $("#CurveCon5").html([[${CODparameter?.CurveCon5}]]);
            $("#CurveCon6").html([[${CODparameter?.CurveCon6}]]);
            $("#CurveCon7").html([[${CODparameter?.CurveCon7}]]);

            $("#curveAbs1").html([[${CODparameter?.curveAbs1}]]);
            $("#curveAbs2").html([[${CODparameter?.curveAbs2}]]);
            $("#curveAbs3").html([[${CODparameter?.curveAbs3}]]);
            $("#curveAbs4").html([[${CODparameter?.curveAbs4}]]);
            $("#curveAbs5").html([[${CODparameter?.curveAbs5}]]);
            $("#curveAbs6").html([[${CODparameter?.curveAbs6}]]);
            $("#curveAbs7").html([[${CODparameter?.curveAbs7}]]);

            $("#sta_value").html('48');
            $("#sta_valueR").html('48');
            $("#sta_abs").html([[${cod_standard_As}]]);


        });

        function look(obj){
			if(obj == "cod"){
                $("#methodname").html([[${bizAssayMethod?.codName}]]);
                $("#th_wave2").css('display','');
                $("#wave1").html('测定波长'+[[${bizAssayMethod?.codWave1}]]+'nm（高量程）');

                $("#CurveCon1").html([[${CODparameter?.CurveCon1}]]);
                $("#CurveCon2").html([[${CODparameter?.CurveCon2}]]);
                $("#CurveCon3").html([[${CODparameter?.CurveCon3}]]);
                $("#CurveCon4").html([[${CODparameter?.CurveCon4}]]);
                $("#CurveCon5").html([[${CODparameter?.CurveCon5}]]);
                $("#CurveCon6").html([[${CODparameter?.CurveCon6}]]);
                $("#CurveCon7").html([[${CODparameter?.CurveCon7}]]);

                $("#curveAbs1").html([[${CODparameter?.curveAbs1}]]);
                $("#curveAbs2").html([[${CODparameter?.curveAbs2}]]);
                $("#curveAbs3").html([[${CODparameter?.curveAbs3}]]);
                $("#curveAbs4").html([[${CODparameter?.curveAbs4}]]);
                $("#curveAbs5").html([[${CODparameter?.curveAbs5}]]);
                $("#curveAbs6").html([[${CODparameter?.curveAbs6}]]);
                $("#curveAbs7").html([[${CODparameter?.curveAbs7}]]);

                $("#sta_value").html('48');
                $("#sta_valueR").html('48');
                $("#sta_abs").html([[${ccurveAbs_standard_As}]]);

                $("#invalue").html([[${inCod}]]);
                $("#invalueR").html([[${inCod}]]);
                $("#inabs").html([[${inCod_As}]]);

                $("#outvalue").html([[${outCod}]]);
                $("#outvalueR").html([[${outCod}]]);
                $("#outabs1").html([[${outCod_As}]]);


			}else if(obj == "tp"){
                $("#methodname").html([[${bizAssayMethod?.tpName}]]);
                $("#th_wave2").css('display','none');
                $("#wave1").html('测定波长'+[[${bizAssayMethod?.tpWave1}]]+'nm');

                $("#CurveCon1").html([[${TPparameter?.CurveCon1}]]);
                $("#CurveCon2").html([[${TPparameter?.CurveCon2}]]);
                $("#CurveCon3").html([[${TPparameter?.CurveCon3}]]);
                $("#CurveCon4").html([[${TPparameter?.CurveCon4}]]);
                $("#CurveCon5").html([[${TPparameter?.CurveCon5}]]);
                $("#CurveCon6").html([[${TPparameter?.CurveCon6}]]);
                $("#CurveCon7").html([[${TPparameter?.CurveCon7}]]);

                $("#curveAbs1").html([[${TPparameter?.curveAbs1}]]);
                $("#curveAbs2").html([[${TPparameter?.curveAbs2}]]);
                $("#curveAbs3").html([[${TPparameter?.curveAbs3}]]);
                $("#curveAbs4").html([[${TPparameter?.curveAbs4}]]);
                $("#curveAbs5").html([[${TPparameter?.curveAbs5}]]);
                $("#curveAbs6").html([[${TPparameter?.curveAbs6}]]);
                $("#curveAbs7").html([[${TPparameter?.curveAbs7}]]);

                $("#sta_value").html('1.33');
                $("#sta_valueR").html('1.33');
                $("#sta_abs").html([[${tp_standard_As}]]);

                $("#invalue").html([[${inTp}]]);
                $("#invalueR").html([[${inTp}]]);
                $("#inabs").html([[${inTp_As}]]);

                $("#outvalue").html([[${outTp}]]);
                $("#outvalueR").html([[${outTp}]]);
                $("#outabs1").html([[${outTp_As}]]);


			}else if(obj == "tn"){
                $("#methcurveAbsname").html([[${bizAssayMethod?.tnName}]]);
                $("#th_wave2").css('display','none');
                $("#wave1").html('测定波长'+[[${bizAssayMethod?.tnWave1}]]+'nm');

                $("#CurveCon1").html([[${TNparameter?.CurveCon1}]]);
                $("#CurveCon2").html([[${TNparameter?.CurveCon2}]]);
                $("#CurveCon3").html([[${TNparameter?.CurveCon3}]]);
                $("#CurveCon4").html([[${TNparameter?.CurveCon4}]]);
                $("#CurveCon5").html([[${TNparameter?.CurveCon5}]]);
                $("#CurveCon6").html([[${TNparameter?.CurveCon6}]]);
                $("#CurveCon7").html([[${TNparameter?.CurveCon7}]]);

                $("#curveAbs1").html([[${TNparameter?.curveAbs1}]]);
                $("#curveAbs2").html([[${TNparameter?.curveAbs2}]]);
                $("#curveAbs3").html([[${TNparameter?.curveAbs3}]]);
                $("#curveAbs4").html([[${TNparameter?.curveAbs4}]]);
                $("#curveAbs5").html([[${TNparameter?.curveAbs5}]]);
                $("#curveAbs6").html([[${TNparameter?.curveAbs6}]]);
                $("#curveAbs7").html([[${TNparameter?.curveAbs7}]]);

                $("#sta_value").html('2.58');
                $("#sta_valueR").html('2.58');
                $("#sta_abs").html([[${tn_standard_As}]]);

                $("#invalue").html([[${inTn}]]);
                $("#invalueR").html([[${inTn}]]);
                $("#inabs").html([[${inTn_As}]]);

                $("#outvalue").html([[${outTn}]]);
                $("#outvalueR").html([[${outTn}]]);
                $("#outabs1").html([[${outTn_As}]]);


            }else if(obj == "nh"){
                $("#methodname").html([[${bizAssayMethod?.nhName}]]);
                $("#th_wave2").css('display','none');
                $("#wave1").html('测定波长'+[[${bizAssayMethod?.nhWave1}]]+'nm');

                $("#CurveCon1").html([[${NHparameter?.CurveCon1}]]);
                $("#CurveCon2").html([[${NHparameter?.CurveCon2}]]);
                $("#CurveCon3").html([[${NHparameter?.CurveCon3}]]);
                $("#CurveCon4").html([[${NHparameter?.CurveCon4}]]);
                $("#CurveCon5").html([[${NHparameter?.CurveCon5}]]);
                $("#CurveCon6").html([[${NHparameter?.CurveCon6}]]);
                $("#CurveCon7").html([[${NHparameter?.CurveCon7}]]);

                $("#curveAbs1").html([[${NHparameter?.curveAbs1}]]);
                $("#curveAbs2").html([[${NHparameter?.curveAbs2}]]);
                $("#curveAbs3").html([[${NHparameter?.curveAbs3}]]);
                $("#curveAbs4").html([[${NHparameter?.curveAbs4}]]);
                $("#curveAbs5").html([[${NHparameter?.curveAbs5}]]);
                $("#curveAbs6").html([[${NHparameter?.curveAbs6}]]);
                $("#curveAbs7").html([[${NHparameter?.curveAbs7}]]);

                $("#sta_value").html('0.58');
                $("#sta_valueR").html('0.58');
                $("#sta_abs").html([[${nh_standard_As}]]);

                $("#invalue").html([[${inNh3}]]);
                $("#invalueR").html([[${inNh3}]]);
                $("#inabs").html([[${inNh_As}]]);

                $("#outvalue").html([[${outNh}]]);
                $("#outvalueR").html([[${outNh}]]);
                $("#outabs1").html([[${outNh_As}]]);


            }
		}
    </script>
</body>
</html>