<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('化验结果列表')" />
</head>
<body class="gray-bg" id="aaa">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<input name="assayNo" type="hidden" id="assayNo"  th:value="${assayNo}"/>

							<!--<li>-->
								<!--<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
								<!--<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
							<!--</li>-->
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">

			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>

	 <!--<script language="javascript" th:src="@{/water/view02/jqprint/jquery-1.4.4.min.js}"></script>-->
	 <script language="javascript" th:src="@{/water/view02/jqprint/jquery.jqprint-0.3.js}"></script>
	 <script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js";></script>

    <script th:inline="javascript">

        var editFlag = [[${@permission.hasPermi('system:bizAssay:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:bizAssay:remove')}]];
        var prefix = ctx + "system/bizAssay";

        $(function() {
            var options = {
                url: prefix + "/listResult",
                detailUrl: prefix + "/checkResult/{id}",
                updateUrl: prefix + "/editResult/{id}",
                removeUrl: prefix + "/removeResult",
				exportUrl: prefix + "/exportResult",
                queryParams: queryParams,
                modalName: "化验结果",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'resultId', 
					title : '化验结果ID',
					visible: false
				},
				{
					field : 'assayNo',
					title : '化验唯一编号',
					sortable: true
				},
				{
					field : 'assayType',
					title : '化验样品',
					sortable: true
				},
//				{
//					field : 'assaySample.sampleName',
//					title : '化验样品',
//					sortable: true,
//                    formatter: function(value, item, index) {
//                        var sampleName="";
//                        if(item.assaySample!=null){
//                            if(item.assaySample.sampleName!=null){
//                                sampleName = item.assaySample.sampleName
//							}
//                        }
//                        return '<span class="label label-success">'+sampleName+'</span>';
//                    }
//				},
//				{
//					field : 'assaySample.work.worksName',
//					title : '样品水厂',
//					sortable: true,
//					formatter: function(value, item, index) {
//						var worksName="";
//						if(item.assaySample!=null){
//							if(item.assaySample.work!=null){
//                                if(item.assaySample.work.worksName!=null){
//                                    worksName = item.assaySample.work.worksName
//								}
//							}
//						}
//						return '<span class="label label-success">'+worksName+'</span>';
//					}
//				},
//				{
//					field : 'resultNo',
//					title : '进出水',
//					sortable: true,
//                    formatter: function(value, item, index) {
//                        var resultNo = item.resultNo;
//						if(resultNo=="001"||resultNo=="003"||resultNo=="005"||resultNo=="007"){
//                            return '<span class="label label-success">进水</span>';
//						}else{
//                            return '<span class="label label-warning">出水</span>';
//						}
//                    }
//				},
				{
					field : 'itemName',
					title : '化验项目',
					sortable: true,
                    formatter: function(value, item, index) {
					    var itemName = item.itemName;
                        if(itemName==""||itemName==null||itemName=="null"){
                            return '';
                        }else{
                            return '<span class="label label-primary">'+itemName+'</span>';
                        }
					}
				},
				{
					field : 'resultConcentration',
					title : '浓度值',
					sortable: true
				},
				{
					field : 'resultAbs',
					title : 'abs值',
					sortable: true
				},
				{
					field : 'curveK0',
					title : '曲线k0',
					sortable: true
				},
				{
					field : 'curveK1',
					title : '曲线k1',
					sortable: true
				}]
            };
            $.table.init(options);
        });
        function queryParams(params) {
            var search = $.table.queryParams(params);
            search.assayNo = $("#assayNo").val();
            return search;
        }

    </script>

</body>
</html>