<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <th:block th:include="include :: header('化验结果列表')" />
</head>
<body class="gray-bg">

<div class="container-div">
  <div class="row">
    <div class="col-sm-12 search-collapse">
      <form id="formId">
        <input id="assayNo" name="assayNo"  type="hidden" th:value="*{assayNo}" />
        <div class="select-list">

          <li>
            化验项目：<select id="assayItem" name="assayItem">
            <option  text="请选择" value="" >请选择</option>
            <option th:each="item : ${itemList}" th:text="${item.itemName}" th:value="${item.assayItem}" ></option>
          </select>
          </li>
          <ul>
            <li>
              <a class="btn btn-primary btn-rounded btn-sm" onclick="searchItem()"><i class="fa fa-search"></i>&nbsp;搜索</a>
            </li>
          </ul>

          <li>
            <a id="Docx_button" class="btn btn-primary" onclick="Docx()" shiro:hasPermission="system:bizAssay:export" style="display:none">
              <i class="fa fa-download"></i> 导出分析项目原始记录
            </a>

          </li>
        </div>
      </form>
    </div>

    <div class="col-sm-12 select-table table-striped" id="assayDetails">
      <div id="cod_div">

        <table id="top-table" data-mobile-responsive="true" style="table-layout: auto" class="table table-hover">
          <div class="th-inner sortable both">
            <img  style="width:162px;height:59px; position:absolute" th:src="@{/img/assayLeftLogo.png}" >
          </div>
          <tr align="justify">

            <td style="text-align:right;border: 1px solid #e7eaec" colspan="3">
              <div>
                <span>编号：LJHB-[[${worksName}]]WS_JL-A01-202101[[${assayDate}]]</span>
                <span>|数据记录编号：[[${assayNo}]]</span>
              </div>
            </td>
          </tr>
          <tr align="justify">
            <td style="text-align:center;font-size:16px;border: 1px solid #e7eaec"  colspan="3">
              <div>
                <span>[[${worksName}]]-污水处理厂</span>
              </div>
            </td>
          </tr>
          <tr align="justify">
            <td style="text-align:center;letter-spacing:8px;font-size:18px;font-weight:900;border: 1px solid #e7eaec" colspan="3">
              <div>
                <span id="recordName">分光光度法检测原始记录</span>
              </div>
            </td>
          </tr>
          <tr align="justify">
            <td colspan="1" style="border: 1px solid #e7eaec">
              <div>
                <label>检测项目：</label>
                <span id="theIteName"></span>
              </div>
            </td>
            <td colspan="1" style="border: 1px solid #e7eaec">
              <div>
                <label>检测地点：</label>
                <span>[[${worksName}]]</span>
              </div>
            </td>
            <td colspan="1" style="border: 1px solid #e7eaec">
              <div>
                <span>第 1 页 共 1 页</span>
              </div>
            </td>
          </tr>
        </table>
        <!--cod报表头部部分 -->
        <table id="cod-part" style="display: none; width:100%" data-mobile-responsive="true" class="table table-hover"  >
          <tr>
            <th rowspan="2" style="border: 1px solid #e7eaec;">
              检测依据:
            </th>
            <td rowspan="2" colspan="2" style="border: 1px solid #e7eaec" id="codMethodname">
              水质 化学需氧量的测定 重铬酸盐法         HJ 828-2017
            </td>
            <td style="border: 1px solid #e7eaec" colspan="2" >测定日期： [[${assayDate}]]</td>
          </tr>
          <tr>
            <td style="border: 1px solid #e7eaec" colspan="2" >标准滴定溶液名称：硫酸亚铁铵</td>
          </tr>

          <tr style="border: 1px solid #e7eaec">
            <td rowspan="2" colspan="1" style="border: 1px solid #e7eaec">标定时间：</td>
            <td rowspan="1" colspan="2"  style="border: 1px solid #e7eaec">V硫酸亚铁铵高=        mL </td>
            <td rowspan="1" colspan="1"  style="border: 1px solid #e7eaec">标准滴定溶液浓度：C0高=         mol/L</td>
          </tr>
          <tr style="border: 1px solid #e7eaec">
            <td rowspan="1" colspan="2"  style="border: 1px solid #e7eaec">V硫酸亚铁铵低=        mL</td>
            <td rowspan="1" colspan="1"  style="border: 1px solid #e7eaec">标准滴定溶液浓度：C0低=         mol/L</td>
          </tr>

        </table>

        <table id="item-table" data-mobile-responsive="true" class="table table-hover"  th:object="${bizAssayMethod}">
          <tr>
            <th rowspan="2" style="border: 1px solid #e7eaec; width:25%">
              检测依据:
            </th>
            <td rowspan="2" style="border: 1px solid #e7eaec" id="methodname">
              <!--水质 氨氮的测定 纳氏试剂分光光度法HJ 535-2009-->
              [[${bizAssayMethod?.codName}]]
            </td>
            <td style="border: 1px solid #e7eaec">测定日期： [[${assayDate}]]</td>
          </tr>
          <tr>
            <td style="border: 1px solid #e7eaec">测定波长：[[${bizAssayMethod?.codWave1}]]nm（高量程） [[${bizAssayMethod?.codWave2}]]nm（低量程）  光程：[[${bizAssayMethod?.codOptical}]]nm</td>
          </tr>
          <tr>
            <th style="border: 1px solid #e7eaec; width:25%">仪器名称/型号:</th>
            <td style="border: 1px solid #e7eaec;">分光光度计/TU1901</td>
          </tr>
        </table>

        <table id="curve-table" class="table table-hover" th:object="${CODparameter}">
          <tr style="border: 1px solid #e7eaec">
            <td rowspan="4" width="2%" style="border: 1px solid #e7eaec">校准曲线制作</td>
            <th style="border: 1px solid #e7eaec">序号</th>
            <th style="border: 1px solid #e7eaec">1</th>
            <th style="border: 1px solid #e7eaec">2</th>
            <th style="border: 1px solid #e7eaec">3</th>
            <th style="border: 1px solid #e7eaec">4</th>
            <th style="border: 1px solid #e7eaec">5</th>
            <th style="border: 1px solid #e7eaec">6</th>
            <th style="border: 1px solid #e7eaec">7</th>
          </tr>
          <tr>
            <th>质量（μg）</th>
            <td id="CurveCon1"></td>
            <td id="CurveCon2"></td>
            <td id="CurveCon3"></td>
            <td id="CurveCon4"></td>
            <td id="CurveCon5"></td>
            <td id="CurveCon6"></td>
            <td id="CurveCon7"></td>
          </tr>
          <tr>
            <th>吸光度</th>
            <td id="curveAbs1"></td>
            <td id="curveAbs2"></td>
            <td id="curveAbs3"></td>
            <td id="curveAbs4"></td>
            <td id="curveAbs5"></td>
            <td id="curveAbs6"></td>
            <td id="curveAbs7"></td>
          </tr>
          <tr>
            <th colspan="2">校准曲线：Y=bX+a</th>
            <td colspan="2" id="curve_b">b = [[${CODparameter?.curveK0}]]</td>
            <td colspan="2" id="curve_a">a = [[${CODparameter?.curveK1}]]</td>
            <td colspan="2" id="curve_r">r = [[${CODparameter?.curveR}]]</td>
          </tr>

        </table>

        <table id="sample-table" data-mobile-responsive="true" class="table table-hover">
          <tr></tr>
          <!--<tr>
            <th>序号</th>
            <th>样品编号</th>
            <th>试样体积<p>V(ml)</p></th>
            <th>
              吸光度<p>A<sub>s</sub>-A<sub>b</sub></p>
            </th>
            <th>检测结果<p>ρ(mg/L)</p></th>
            <th>报出结果<p>(mg/L)</p></th>
          </tr>-->
          <!--<tr>
            <td></td>
            <td></td>
            <td rowspan="2"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2"></td>

          </tr>-->

        </table>

        <table id="tail-table" data-mobile-responsive="true" class="table table-hover">
          <tr>
            <td colspan="4" id="computeFormula">
              计算公式：ρ=(As-Ab-a）/（b×V）</td>
          </tr>
          <tr>
            <td colspan="4">
              备注：</td>
          </tr>
          <tr>
            <td colspan="2">检验员：    空白    </td>
            <td colspan="2">核验员：    空白    </td>
          </tr>

        </table>

      </div>
    </div>
  </div>
</div>

<div th:include="include :: footer"></div>

<script th:src="@{/water/view02/js/echarts-all.js}"></script>

<script th:inline="javascript">
        var prefix = ctx + "system/bizAssay";

        var assayNo = [[${assayNo}]];


        //初始化页面数据
        $(function() {

        });

        function searchItem(){
            var assayNo = $("#assayNo").val();
            var assayItem = $("#assayItem").val();
//            alert(assayNo);
//            alert(assayItem);

            var d = {};
            d.assayNo = assayNo;
            d.assayItem = assayItem;

            $.ajax({
                url: prefix + "/getAssayByItem",
                data: JSON.stringify(d),
                type: "POST",
                cache: false,
                contentType: "application/json;charset=utf-8",
                processData: false,
//            dataType: 'json',
                success: function(result) {

                    var itemData = eval('('+result.itemData+')');
                    var curveData = eval('('+result.curveData+')');
                    var methodData = eval('('+result.methodData+')');
                    var assayItemNameData = eval('('+result.assayItemNameData+')');
                    var ck0StrData = eval('('+result.ck0StrData+')');
                    var ck1StrData = eval('('+result.ck1StrData+')');
                    var crStrData = eval('('+result.crStrData+')');
                    var recordName = eval('('+result.recordNameData+')');
                    var trHtml="";
                    var i=0;
                    var typNum = "";
                    var assayItem = itemData[0].assay_item;

                    if (assayItem === "1" || assayItem === "2") {

                                $("#cod-part").css('display','table');
                                $("#item-table").css('display','none');
                                $("#curve-table").css('display','none');

                                trHtml += "<tr class=\"cod\">\n"+
                                "<th rowspan=\"2\">序号</th>\n"+
                                "<th rowspan=\"2\">样品编号</th>\n"+
                                "<th rowspan=\"2\">试样体积<p>V(ml)</p></th>\n"+
                                "<th rowspan=\"2\">稀释倍数<p>f</p></th>\n"+
                                "<th colspan=\"3\" rowspan=\"1\">消耗标准滴定溶液的体积(mL)\n"+
                                "<th rowspan=\"2\">检测结果<p>ρ(mg/L)</p></th>\n"+
                                "<th rowspan=\"2\">报出结果<p>(mg/L)</p></th>\n"+
                                "</th>\n"+
                              "</tr>\n"+
                              "<tr class=\"cod\">\n"+
                                   "<td>V始</td><td>V终</td><td>V耗</td>\n"+
                                "</tr>";

                                $("#computeFormula").html("<tr><td rowspan=\"2\">计算公式：</td></tr><tr><td>□ C0=10.00×0.250/V硫酸亚铁铵           □ C0=10.00×0.025/V硫酸亚铁铵 </td><td>C=[C0×(V耗空白-V耗样品)×8000]/V×f</td></tr>");
                        }

                    if (assayItem === "3") {
                                $("#cod-part").css('display','none');
                                $("#item-table").css('display','table');
                                $("#curve-table").css('display','table');

                                trHtml += "<tr class=\"cod\">\n"+
                                "<th>序号</th>\n"+
                                "<th>样品编号</th>\n"+
                                "<th>试样体积<p>V(ml)</p></th>\n"+
                                "<th>吸光度<p>A<sub>s</sub>-A<sub>b</sub></p>\n"+
                                "</th>\n"+
                                "<th>检测结果<p>ρ(mg/L)</p></th>\n"+
                                "<th>报出结果<p>(mg/L)</p></th>\n"+
                              "</tr>";

                              $("#computeFormula").html("<tr><td>计算公式：ρ=(As-Ab-a)/(b×V)</td></tr>");
                        }
                        if (assayItem === "4") {
                        $("#cod-part").css('display','none');
                                $("#item-table").css('display','table');
                                $("#curve-table").css('display','table');
                                trHtml += "<tr class=\"cod\">\n"+
                                "<th>序号</th>\n"+
                                "<th>样品编号</th>\n"+
                                "<th>试样体积<p>V(ml)</p></th>\n"+
                                "<th>稀释倍数<p>f</p></th>\n"+
                                "<th>吸光度<p>A<sub>s</sub>-A<sub>b</sub></p>\n"+
                                "</th>\n"+
                                "<th>检测结果<p>ρ(mg/L)</p></th>\n"+
                                "<th>报出结果<p>(mg/L)</p></th>\n"+
                              "</tr>";

                              $("#computeFormula").html("<tr><td>计算公式：ρ=(Ar-A0-a)×f/(b×V)</tr></td>");


                        }
                        if (assayItem === "5") {
                        $("#cod-part").css('display','none');
                                $("#item-table").css('display','table');
                                $("#curve-table").css('display','table');
                                trHtml += "<tr class=\"cod\">\n"+
                                "<th>序号</th>\n"+
                                "<th>样品编号</th>\n"+
                                "<th>试样体积<p>V(ml)</p></th>\n"+
                                "<th>试样测得磷的含量<p>m（μg）</p></th>\n"+

                                "<th>检测结果<p>ρ(mg/L)</p></th>\n"+
                                "<th>报出结果<p>(mg/L)</p></th>\n"+
                              "</tr>";

                              $("#computeFormula").html("<tr><td>计算公式：C=m/V</tr></td>");
                        }

                    $.each(itemData, function(key, value){

                        i++;

                        if(assayItem === "1" || assayItem === "2") {

                            trHtml += "<tr  class=\"cod\"><td>"+i+"</td>\n";
                            if(value.type_num == typNum && value.type_num!='1'){
                              trHtml += "" ;
                            } else {
                              trHtml += "<td rowspan=\""+value.type_num+"\">"+value.assay_type+"</td>\n";
                            }
                            trHtml += "<td>"+value.sample_volume+"</td>\n" +
                            "<td>"+""+"</td>\n" +
                            "<td>"+""+"</td>\n" +
                            "<td>"+""+"</td>\n" +
                            "<td>"+""+"</td>\n" +
                            "<td>"+value.result_concentration+"</td>\n";

                            if(value.type_num == typNum && value.type_num!='1'){
                              trHtml += "" ;
                            } else {
                              trHtml += "<td rowspan=\""+value.type_num+"\">"+value.avg_result_concentration+"</td></tr>\n";
                            }

                        }
                        if(assayItem === "3") {
                          trHtml += "<tr  class=\"cod\"><td>"+i+"</td>\n";
                          if(value.type_num == typNum && value.type_num!='1'){
                            trHtml += "" ;
                          } else {
                            trHtml += "<td rowspan=\""+value.type_num+"\">"+value.assay_type+"</td>\n";
                          }
                          trHtml += "<td>"+value.sample_volume+"</td>\n" +
                          "<td>"+value.result_abs+"</td>\n" +
                          "<td>"+value.result_concentration+"</td>\n";

                          if(value.type_num == typNum && value.type_num!='1'){
                            trHtml += "" ;
                          } else {
                            trHtml += "<td rowspan=\""+value.type_num+"\">"+value.avg_result_concentration+"</td></tr>\n";
                          }
                        }
                        if(assayItem === "4") {
                              trHtml += "<tr  class=\"cod\"><td>"+i+"</td>\n";
                              if(value.type_num == typNum && value.type_num!='1'){
                                trHtml += "" ;
                              } else {
                                trHtml += "<td rowspan=\""+value.type_num+"\">"+value.assay_type+"</td>\n";
                              }
                              trHtml += "<td>"+value.sample_volume+"</td>\n" +
                               "<td>"+""+"</td>\n" +
                              "<td>"+value.result_abs+"</td>\n" +
                              "<td>"+value.result_concentration+"</td>\n";

                              if(value.type_num == typNum && value.type_num!='1'){
                                trHtml += "" ;
                              } else {
                                trHtml += "<td rowspan=\""+value.type_num+"\">"+value.avg_result_concentration+"</td></tr>\n";
                              }
                        }
                        if(assayItem === "5") {
                            trHtml += "<tr  class=\"cod\"><td>"+i+"</td>\n";
                            if(value.type_num == typNum && value.type_num!='1'){
                              trHtml += "" ;
                            } else {
                              trHtml += "<td rowspan=\""+value.type_num+"\">"+value.assay_type+"</td>\n";
                            }
                            trHtml += "<td>"+value.sample_volume+"</td>\n" +
                            "<td>"+""+"</td>\n" +
                            "<td>"+value.result_concentration+"</td>\n";

                            if(value.type_num == typNum && value.type_num!='1'){
                              trHtml += "" ;
                            } else {
                              trHtml += "<td rowspan=\""+value.type_num+"\">"+value.avg_result_concentration+"</td></tr>\n";
                            }
                        }


                        typNum = value.type_num;

                    });

                    $("#CurveCon1").html(curveData.curveCon1);
                    $("#CurveCon2").html(curveData.curveCon2);
                    $("#CurveCon3").html(curveData.curveCon3);
                    $("#CurveCon4").html(curveData.curveCon4);
                    $("#CurveCon5").html(curveData.curveCon5);
                    $("#CurveCon6").html(curveData.curveCon6);
                    $("#CurveCon7").html(curveData.curveCon7);

                    $("#curveAbs1").html(curveData.curveAbs1);
                    $("#curveAbs2").html(curveData.curveAbs2);
                    $("#curveAbs3").html(curveData.curveAbs3);
                    $("#curveAbs4").html(curveData.curveAbs4);
                    $("#curveAbs5").html(curveData.curveAbs5);
                    $("#curveAbs6").html(curveData.curveAbs6);
                    $("#curveAbs7").html(curveData.curveAbs7);

                    $("#curve_b").html("b= "+ck0StrData);
                    $("#curve_a").html("a= "+ck1StrData);
                    $("#curve_r").html("r= "+crStrData);

                    $("#theIteName").html(assayItemNameData);
                    $("#methodname").html(methodData);
                     $("#recordName").html(recordName);

                    $(".cod").each(function(){
                        $(this).remove();
                    });

                    var row=0;
                    var tab="sample-table";
                    addTr(tab, row, trHtml);

                    if(assayItem!=""){
                        $("#Docx_button").css('display','');
                    }else{
                        $("#Docx_button").css('display','none');
                    }
                },
                error: function(error) {
                    alert("化验编号: "+NoValue+" 无化验数据");
                    $(".cod").each(function(){
                        $(this).remove();
                    });
                }
            })

        }

        function addTr(tab, row, trHtml){
            //获取table最后一行 $("#tab tr:last")
            //获取table第一行 $("#tab tr").eq(0)
            //获取table倒数第二行 $("#tab tr").eq(-2)
            var $tr=$("#"+tab+" tr").eq(row);
            if($tr.size()==0){
                alert("指定的table id或行数不存在！");
                return;
            }
            $tr.after(trHtml);
        }

        function Docx(){
            var obj = $("#assayItem").val();
            window.location.href = prefix + "/getAllDoc/"+assayNo+"/"+obj;
        }
    </script>
</body>
</html>