<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改药剂')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bizAgentia-edit" th:object="${bizAgentia}">
            <input id="agentiaId" name="agentiaId" th:field="*{agentiaId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂编号：</label>
				<div class="col-sm-6">
					<input id="agentiaNo" name="agentiaNo" th:field="*{agentiaNo}" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂名称：</label>
				<div class="col-sm-6">
					<input id="agentiaName" name="agentiaName" th:field="*{agentiaName}" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所属设备：</label>
				<div class="col-sm-6">
					<select id="agentiaDevice" name="agentiaDevice" class="form-control required"  th:with="type=${@bizDevice.getBizDevice()}" th:field="*{agentiaDevice}">
						<option th:each="bizDevice : ${type}" th:text="${bizDevice.deviceName}" th:value="${bizDevice.deviceId}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂总量：</label>
				<div class="col-sm-6">
					<input id="agentiaTotal" name="agentiaTotal" th:field="*{agentiaTotal}" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂剩余量：</label>
				<div class="col-sm-6">
					<input id="agentiaRemain" name="agentiaRemain" th:field="*{agentiaRemain}" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂告警量：</label>
				<div class="col-sm-6">
					<input id="agentiaAlert" name="agentiaAlert" th:field="*{agentiaAlert}" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂类型：</label>
				<div class="col-sm-6">
					<input id="agentiaType" name="agentiaType" th:field="*{agentiaType}" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂厂家：</label>
				<div class="col-sm-6">
					<input id="agentiaMaker" name="agentiaMaker" th:field="*{agentiaMaker}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">药剂状态：</label>
				<div class="col-sm-6">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="agentiaStatus" th:value="${dict.dictValue}"  th:field="*{agentiaStatus}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
					<!--<input id="agentiaStatus" name="agentiaStatus" th:field="*{agentiaStatus}" class="form-control" type="text">-->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">投入使用时间：</label>
				<div class="col-sm-6">
					<input id="useTime" name="useTime" th:field="*{useTime}" class="form-control required" type="text">
				</div>
			</div>
			<!--<div class="form-group">-->
				<!--<label class="col-sm-3 control-label">上次维护时间：</label>-->
				<!--<div class="col-sm-6">-->
					<!--<input id="lastRepairTime" name="lastRepairTime" th:field="*{lastRepairTime}" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<label class="col-sm-3 control-label">维护时间：</label>
				<div class="col-sm-6">
					<input id="repairTime" name="repairTime" th:field="*{repairTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">维护人：</label>
				<div class="col-sm-6">
					<input id="repairBy" name="repairBy" th:field="*{repairBy}" class="form-control" type="text">
				</div>
			</div>

		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/bizAgentia";
		$("#form-bizAgentia-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-bizAgentia-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
