<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('设备药剂列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								药剂名称：<input type="text" name="agentiaName"/>
							</li>

							<li>
								所属设备：<select name="agentiaBelong" th:with="type=${@bizDevice.getBizDevice()}">
								<option value="">所有</option>
								<option th:each="bizDevice : ${type}" th:text="${bizDevice.deviceName}" th:value="${bizDevice.deviceId}"></option>
							</select>
							</li>

							<li class="select-time">
								<label>使用日期： </label>
								<input type="text" class="time-input" id="useTime" placeholder="使用日期" name="useTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:bizAgentiaDevice:add">
					<i class="fa fa-plus"></i> 添加
				</a>

				<a class="btn btn-primary" onclick="makeList()" shiro:hasPermission="system:bizAgentiaWork:add">
					<i class="fa fa-plus"></i> 药剂配制记录
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:bizAgentiaDevice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:bizAgentiaDevice:remove')}]];
        var prefix = ctx + "system/bizDeviceAgentia";

        $(function() {
            var options = {
                url: prefix + "/devicelist",
                createUrl: prefix + "/deviceadd",
                updateUrl: prefix + "/deviceedit/{id}",
                removeUrl: prefix + "/deviceremove",
				exportUrl: prefix + "/export",
                modalName: "药剂",
		        showExport: true,
                columns: [{
                    checkbox: true
                },
				{
					field : 'agentiaId', 
					title : '药剂ID',
					visible: false
				},
				{
					field : 'agentiaNo', 
					title : '药剂编号',
					sortable: true
				},
				{
					field : 'agentiaName', 
					title : '药剂名称',
					sortable: true
				},
				{
					field : 'device.deviceName',
					title : '所属设备',
					sortable: true,
					formatter: function(value, item, index) {
                        var devicename="";
                        if(item.device!=null){
                            devicename = item.device.deviceName
                        }
                        return '<span class="label label-success">'+devicename+'</span>';
					}
				},
				{
					field : 'works.worksName',
					title : '所属水厂',
					sortable: true,
					formatter: function(value, item, index) {
                        var worksname="";
                        if(item.works!=null){
                            worksname = item.works.worksName
                        }
                        return '<span class="label label-success">'+worksname+'</span>';
					}
				},
				{
					field : 'agentiaKind',
					title : '药剂分类',
					sortable: true,
                    formatter: function (value, row, index) {
                        if (row.agentiaKind == 0) {
                            return '<i class=\"btn btn-success btn-xs\" >易制毒化学品</i> ';
                        } else if (row.agentiaKind == 1){
                            return '<i class=\"btn btn-success btn-xs\" >易制爆化学品</i> ';
                        } else if (row.agentiaKind == 2){
                            return '<i class=\"btn btn-success btn-xs\" >危险化学品</i> ';
                        } else{
                            return '<i class=\"btn btn-warning btn-xs\" >其他</i> ';
                        }
                    }
				},
				{
					field : 'agentiaTotal', 
					title : '药剂累计总量(ml)',
					sortable: true
				},
				{
					field : 'agentiaRemain', 
					title : '药剂剩余量(ml)',
					sortable: true
				},
				{
					field : 'agentiaAlert', 
					title : '药剂告警量(ml)',
					sortable: true,
                    formatter: function(value, item, index) {
                        if(item.agentiaAlert>=item.agentiaRemain){
                            return '<span class="label label-danger">'+item.agentiaAlert+'</span>';
                        }else{
                            return '<span class="label label-success">'+item.agentiaAlert+'</span>';
                        }
                    }
                },
//				{
//					field : 'agentiaStatus',
//					title : '药剂状态',
//					sortable: true,
//                    formatter: function (value, row, index) {
//                        if (row.agentiaStatus == 0) {
//                            return '<i class=\"btn btn-success btn-xs\" >正常</i> ';
//                        } else {
//                            return '<i class=\"btn btn-danger btn-xs\" >停用</i> ';
//                        }
//                    }
//				},
				{
					field : 'useTime',
					title : '投入使用时间',
					sortable: true
				},
				{
					field : 'useDay',
					title : '使用天数',
					sortable: true,
                    formatter: function(value, item, index) {
                        return '<i >30</i> ';
                    }
				},
				{
					field : 'repairTime', 
					title : '维护时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="changeAgentia(\'' + row.agentiaId + '\')"><i class="fa fa-edit"></i>药剂量变更</a> ');
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.agentiaId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.agentiaId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

        /*  设备药剂管理-修改药剂量 */
        function changeAgentia(agentiaId) {
            var url = prefix + '/changeAgentia/' + agentiaId;
            $.modal.open("药剂记录", url);
        }

        /* 配制记录*/
        function makeList() {
            var url = prefix + '/deviceMake';
            $.modal.openTab("配制记录", url);
        }
    </script>
</body>
</html>