<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--360浏览器优先以webkit内核解析-->
	<title>首页</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" th:href="@{/water/system/css/main.css}" >
	<script type="text/javascript" th:src="@{/water/view01/js/rem.js}"></script>
</head>

<body style="visibility: visible;">


</body>
<script type="text/javascript" th:src="@{/water/view01/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/water/view01/js/layer/layer.min.js}"></script>
<script type="text/javascript" th:src="@{/water/view01/js/layer/laydate/laydate.js}"></script>
<script type="text/javascript" th:src="@{/water/view01/js/echarts.min.js}"></script>

<script type="text/javascript" th:src="@{/water/view01/js/base.js}"></script>
</html>
