<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增水厂')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bizWaterWork-add">
			<input id="treeId" name="parentId" type="hidden" th:value="${WaterWork?.worksId}"   />
			<div class="form-group">
				<label class="col-sm-3 control-label">机构编号：</label>
				<div class="col-sm-3">
					<input id="worksNo" name="worksNo" class="form-control required" type="text">
				</div>
				<label class="col-sm-2 control-label">机构名称：</label>
				<div class="col-sm-4">
					<input id="worksName" name="worksName" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级机构：</label>
				<div class="col-sm-9">
					<div class="input-group">
						<input class="form-control required" type="text" onclick="selectWorksTree()" id="treeName" readonly="true" th:value="${WaterWork?.worksName}">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">行政区：</label>
				<div class="col-sm-3">
					<!--<input id="worksProvince" name="worksProvince" class="form-control" type="text">-->
					<select id="worksProvince" name="worksProvince" class="form-control required"  th:with="type=${@sysRegion.selectByParentCode(100000)}" onchange="changeProvince()">
						<option value="">请选择</option>
						<option th:each="sysRegion : ${type}" th:text="${sysRegion.regionName}" th:value="${sysRegion.regionCod}"></option>
					</select>

				</div>
				<div class="col-sm-3">
					<!--<input id="worksCity" name="worksCity" class="form-control" type="text">-->
					<select id="worksCity" name="worksCity" class="form-control required"  onchange="changeCity()">
						<option value="">请选择</option>
					</select>
				</div>
				<div class="col-sm-3">
					<!--<input id="worksArea" name="worksArea" class="form-control" type="text">-->
					<select id="worksArea" name="worksArea" class="form-control required" >
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">详细地址：</label>
				<div class="col-sm-9">
					<input id="worksAddress" name="worksAddress" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">经度：</label>
				<div class="col-sm-3">
					<input id="worksLongitude" name="worksLongitude" class="form-control" type="text">
				</div>
				<label class="col-sm-2 control-label">纬度：</label>
				<div class="col-sm-4">
					<input id="worksLatitude" name="worksLatitude"class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">机构类型：</label>
				<div class="col-sm-9">
					<label class="radio-box" style="display: none"> <input type="radio" name="worksType" value="1" />
						平台机构
					</label>
					<label class="radio-box"> <input type="radio" name="worksType" value="2" /> 集团机构 </label>
					<label class="radio-box"> <input type="radio" name="worksType" value="3" checked/> 一般水厂 </label>
					<label class="radio-box"> <input type="radio" name="worksType" value="4" /> 区域中心 </label>
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">机构状态：</label>
				<div class="col-sm-9">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="worksStatus" th:value="${dict.dictValue}" th:checked="${dict.isDefault == 'Y' ? true : false}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系人：</label>
				<div class="col-sm-3">
					<input id="worksMaintainer" name="worksMaintainer" class="form-control" type="text">
				</div>
				<label class="col-sm-2 control-label">联系电话：</label>
				<div class="col-sm-4">
					<input id="worksTel" name="worksTel" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">设备数量：</label>
				<div class="col-sm-3">
					<input id="worksCount" name="worksCount" class="form-control" type="text">
				</div>
				<label class="col-sm-2 control-label">显示顺序：</label>
				<div class="col-sm-4">
					<input id="orderNum" name="orderNum" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/bizWaterWork"
		$("#form-bizWaterWork-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});

        /*水厂管理-新增-选择父水厂树*/
        function selectWorksTree() {
            var options = {
                title: '水厂选择',
                width: "380",
                url: prefix + "/selectWorksTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }


		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-bizWaterWork-add').serialize());
	        }
	    }
	    
	    function  changeProvince() {
            var d = {};
            d.ParentCode = $('#worksProvince').val();

            $.ajax({
                url: ctx + "index/selectByParentCode",
                data: JSON.stringify(d),
                type: "POST",
                cache: false,
                contentType: "application/json;charset=utf-8",
                processData: false,
//            dataType: 'json',
                success: function(result) {
					var regionData = eval('('+result.regionData+')');
                    if(regionData !=''&& regionData != null&& regionData !== 'undefined'){
                        var region = regionData.region;
                        $('#worksCity').html("<option value=\"\">请选择</option>");
                        $.each(region, function(i, item){
                            $('#worksCity').append("<option value=\""+item[0]+"\">"+item[1]+"</option>")
                        });
                    }
				},
                error: function(error) {
                }
            })
        }

        function changeCity(){
            var d = {};
            d.ParentCode = $('#worksCity').val();

            $.ajax({
                url: ctx + "index/selectByParentCode",
                data: JSON.stringify(d),
                type: "POST",
                cache: false,
                contentType: "application/json;charset=utf-8",
                processData: false,
//            dataType: 'json',
                success: function(result) {
                    var regionData = eval('('+result.regionData+')');
                    if(regionData !=''&& regionData != null&& regionData !== 'undefined'){
                        var region = regionData.region;
                        $('#worksArea').html("<option value=\"\">请选择</option>");
                        $.each(region, function(i, item){
                            $('#worksArea').append("<option value=\""+item[0]+"\">"+item[1]+"</option>")
                        });
                    }
                },
                error: function(error) {
                }
            })
		}
	</script>
</body>
</html>
