<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('告警列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								告警设备：<select name="alertDevice" th:with="type=${@bizDevice.selectOnlydeviceList()}">
										<option value="">所有</option>
										<option th:each="bizDevice : ${type}" th:text="${bizDevice.deviceName}" th:value="${bizDevice.deviceId}"></option>
									</select>
							</li>

							<li>
								告警水厂：<select name="alertWorks" th:with="type=${@bizWorks.getOnlyWorks()}">
									<option value="">所有</option>
									<option th:each="bizWorks : ${type}" th:text="${bizWorks.worksName}" th:value="${bizWorks.worksId}"></option>
								</select>
							</li>

							<li class="select-time">
								<label>告警日期： </label>
								<input type="text" class="time-input" id="alertDate" placeholder="告警日期" name="alertDate"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">

				<!--<a class="btn btn-success" onclick="alertReport()" shiro:hasPermission="system:bizAssayResult:list">-->
					<!--<i class="fa fa-search"></i> 告警报表-->
				<!--</a>-->
				<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:bizAlert:add">-->
					<!--<i class="fa fa-plus"></i> 添加-->
				<!--</a>-->
				<!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:bizAlert:edit">-->
					<!--<i class="fa fa-edit"></i> 修改-->
				<!--</a>-->
				<!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:bizAlert:remove">-->
					<!--<i class="fa fa-remove"></i> 删除-->
				<!--</a>-->
				<!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:bizAlert:export">-->
						<!--<i class="fa fa-download"></i> 导出-->
				 <!--</a>-->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:bizAlert:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:bizAlert:remove')}]];
        var prefix = ctx + "system/bizAlert";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "告警",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'alertId', 
					title : '告警id',
					visible: false
				},
//				{
//					field : 'reportId',
//					title : '化验结果唯一ID（用于修改溯源）',
//					sortable: true
//				},
				{
					field : 'device.deviceName',
					title : '告警设备',
					sortable: true,
					formatter: function(value, item, index) {
                        var devicename="";
                        if(item.device!=null){
                            devicename = item.device.deviceName
                        }
                        return '<span class="label label-success">'+devicename+'</span>';
					}
				},
				{
					field : 'works.worksName',
					title : '告警水厂',
					sortable: true,
					formatter: function(value, item, index) {
                        var worksname="";
                        if(item.works!=null){
                            worksname = item.works.worksName
                        }
                        return '<span class="label label-success">'+worksname+'</span>';
					}
				},
				{
					field : 'alertContent', 
					title : '告警内容',
					sortable: true
				},
				{
					field : 'alertType', 
					title : '告警类型',
					sortable: true,
                    formatter: function(value, item, index) {
                        if (item.alertType == '0') {
                            return '<span class="label label-warning">设备告警</span>';
                        }
                        else if (item.alertType == '1') {
                            return '<span class="label label-warning">药剂告警</span>';
                        }
                        else if (item.alertType == '2') {
                            return '<span class="label label-warning">部件告警</span>';
                        }
                    }
				},
				{
					field : 'alertDate', 
					title : '告警日期',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.alertId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.alertId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

        function alertReport(){
            var url = prefix + '/alertReport' ;
            $.modal.openTab("告警报表", url);
        }
    </script>
</body>
</html>