<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('化验结果列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">

				</form>
			</div>
			

			<div class="col-sm-6 ">
				<div  id="in_COD_line" style="width: 450px; height: 200px;"></div>
			</div>
			<div class="col-sm-6 ">
				<div  id="out_COD_line" style="width: 450px; height: 200px;"></div>
			</div>
			<div class="col-sm-6 ">
				<div  id="in_TP_line" style="width: 450px; height: 200px;"></div>
			</div>
			<div class="col-sm-6 ">
				<div  id="out_TP_line" style="width: 450px; height: 200px;"></div>
			</div>
			<div class="col-sm-6 ">
				<div  id="in_TN_line" style="width: 450px; height: 200px;"></div>
			</div>
			<div class="col-sm-6 ">
				<div  id="out_TN_line" style="width: 450px; height: 200px;"></div>
			</div>
			<div class="col-sm-6 ">
				<div  id="in_NH3_line" style="width: 450px; height: 200px;"></div>
			</div>
			<div class="col-sm-6 ">
				<div  id="out_NH3_line" style="width: 450px; height: 200px;"></div>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>

	 <script th:src="@{/water/view02/js/echarts-all.js}"></script>

    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:bizAssayResult:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:bizAssayResult:remove')}]];
        var prefix = ctx + "system/bizAssayResult";

        $(document).ready(function(){
            var reportId = [[${reportId}]];
            var formdata = {};
            formdata.reportId = reportId;
            $.ajax({
                url: prefix + "/getAssayCurve",
                data: JSON.stringify(formdata),
                type: "POST",
                cache: false,
                contentType: "application/json;charset=utf-8",
                processData: false,
                success: function(result) {
                    var obj = eval('('+result.resultdata+')');
                    initLine(obj);
                },
                error: function(error) {
                }
            });
		});

        var lineoption = {
            title : {
                text: 'COD曲线情况',
                subtext: '',
                x:'center',
                textStyle: {
                    fontWeight: 'bold',
                    color: '#33A3DB'
                }
            },
            tooltip : {
                trigger: 'axis'
            },
            grid: {
                x: 46,
                y:30,
                x2:30,
                y2:80,
                borderWidth: 0
            },

            calculable : false,
            xAxis : [
                {
                    type : 'category',
                    data : [],
                    splitLine: {
                        show: false
                    },
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#a4a7ab',
                            align: 'center'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#33A3DB'
                        }
                    },

                }
            ],
            yAxis : {
                type: 'value',
                name : '(值)',
                axisLabel : {
                    formatter: '{value} ',
                    textStyle: {
                        color: '#a4a7ab',
                        align: 'right'
                    }
                },
                splitLine: {
                    show: false
                },
                axisLine: {
                    lineStyle: {
                        color: '#33A3DB'
                    }
                },
            },
            series : [
                {
                    name:'COD',
                    type:'line',
                    stack: '异常',
                    data:[],
                    itemStyle: {
                        normal: {
                            color:"#33A3DB"
                        }
                    }
                },
            ]
        };

		function initLine(obj){
            var resultdate =obj.resultdate;
            var in_cod_data =obj.in_cod_data;
            var out_cod_data =obj.out_cod_data;
            var in_tp_data =obj.in_cod_data;
            var out_tp_data =obj.out_cod_data;
            var in_tn_data =obj.in_cod_data;
            var out_tn_data =obj.out_cod_data;
            var in_nh3_data =obj.in_cod_data;
            var out_nh3_data =obj.out_cod_data;

            in_COD_linechart(resultdate,in_cod_data);
            out_COD_linechart(resultdate,out_cod_data);
            in_TP_linechart(resultdate,in_tp_data);
            out_TP_linechart(resultdate,out_tp_data);
            in_TN_linechart(resultdate,in_tn_data);
            out_TN_linechart(resultdate,out_tn_data);
            in_NH3_linechart(resultdate,in_nh3_data);
            out_NH3_linechart(resultdate,out_nh3_data);
		}


        function in_COD_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('in_COD_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="进水COD曲线情况";
            lineoption.title.textStyle.color="#F62720";
            lineoption.xAxis[0].axisLine.lineStyle.color="#F62720";
            lineoption.yAxis.axisLine.lineStyle.color="#F62720";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#F62720";

            linechart.clear();
            linechart.setOption(lineoption);
        }

        function out_COD_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('out_COD_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="出水COD曲线情况";
            lineoption.title.textStyle.color="#F15D21";
            lineoption.xAxis[0].axisLine.lineStyle.color="#F15D21";
            lineoption.yAxis.axisLine.lineStyle.color="#F15D21";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#F15D21";

            linechart.clear();
            linechart.setOption(lineoption);
        }

        function in_TP_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('in_TP_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="进水TP曲线情况";
            lineoption.title.textStyle.color="#037E6E";
            lineoption.xAxis[0].axisLine.lineStyle.color="#037E6E";
            lineoption.yAxis.axisLine.lineStyle.color="#037E6E";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#037E6E";

            linechart.clear();
            linechart.setOption(lineoption);
        }

        function out_TP_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('out_TP_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="出水TP曲线情况";
            lineoption.title.textStyle.color="#01AF9E";
            lineoption.xAxis[0].axisLine.lineStyle.color="#01AF9E";
            lineoption.yAxis.axisLine.lineStyle.color="#01AF9E";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#01AF9E";

            linechart.clear();
            linechart.setOption(lineoption);
        }

        function in_TN_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('in_TN_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="进水TN曲线情况";
            lineoption.title.textStyle.color="#DF871A";
            lineoption.xAxis[0].axisLine.lineStyle.color="#DF871A";
            lineoption.yAxis.axisLine.lineStyle.color="#DF871A";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#DF871A";

            linechart.clear();
            linechart.setOption(lineoption);
        }

        function out_TN_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('out_TN_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="出水TN曲线情况";
            lineoption.title.textStyle.color="#FEE200";
            lineoption.xAxis[0].axisLine.lineStyle.color="#FEE200";
            lineoption.yAxis.axisLine.lineStyle.color="#FEE200";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#FEE200";

            linechart.clear();
            linechart.setOption(lineoption);
        }

        function in_NH3_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('in_NH3_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="进水NH3曲线情况";
            lineoption.title.textStyle.color="#286E9F";
            lineoption.xAxis[0].axisLine.lineStyle.color="#286E9F";
            lineoption.yAxis.axisLine.lineStyle.color="#286E9F";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#286E9F";

            linechart.clear();
            linechart.setOption(lineoption);
        }

        function out_NH3_linechart(data,obj) {
            var linechart = echarts.init(document.getElementById('out_NH3_line'));
            window.addEventListener('resize', function () {
                linechart.resize();
            });

            lineoption.title.text="出水NH3曲线情况";
            lineoption.title.textStyle.color="#33A3DB";
            lineoption.xAxis[0].axisLine.lineStyle.color="#33A3DB";
            lineoption.yAxis.axisLine.lineStyle.color="#33A3DB";
            lineoption.xAxis[0].data=data;
            lineoption.series[0].data=obj;
            lineoption.series[0].itemStyle.normal.color="#33A3DB";

            linechart.clear();
            linechart.setOption(lineoption);
        }

    </script>
</body>
</html>